.site-content .elementor-row {
	flex-wrap: wrap;
}
.elementor-widget-inner {
    margin-left: auto;
    margin-right: auto;
    display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	position: relative;
	width: 100%;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	-ms-flex-line-pack: start;
	align-content: flex-start;
}
.bg-custom{
	background-image: url('../images/bg-content-02.png');
    background-color: #f5f3f0;
    background-repeat: no-repeat;
    background-position: left bottom;

}
.description-cus{
	box-shadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px, rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;
	background-color: #F5F5f5;
	padding: 20px 20px;
	border-radius: 10px;
}
.img-cus img{

	height: 312px !important;
	object-fit: cover;
	}

section.elementor-section.elementor-top-section.elementor-element.elementor-element-17ade86b.elementor-section-boxed.elementor-section-height-default.elementor-section-height-default {
    /* padding-top: 635px; */
}
.h5-cus{
	color: rgb(158, 17, 17);
	font-weight: 700;
	position: relative;
}
.sub-menu.submenu-open{
	display: block !important;
}
.h5-cus::before{
	content: '';
	height: 5px;
	width: 114px;
	background-color:  rgb(158, 17, 17);
	position: absolute;
	top: -13px;
	border-radius: 20px;
}
.product-custom-detail{
	background-color: #f5f3f0;
    -webkit-box-shadow: 0 2px 27px rgb(54 54 54 / 13%);
    -khtml-box-shadow: 0 2px 27px rgba(54, 54, 54, 0.13);
    -moz-box-shadow: 0 2px 27px rgba(54, 54, 54, 0.13);
    -ms-box-shadow: 0 2px 27px rgba(54, 54, 54, 0.13);
    -o-box-shadow: 0 2px 27px rgba(54, 54, 54, 0.13);
    box-shadow: 0 2px 27px rgb(54 54 54 / 13%);
    padding-bottom: 22px;
    -webkit-border-radius: 0px;
    -khtml-border-radius: 0px;
    -moz-border-radius: 0px;
    -ms-border-radius: 0px;
    -o-border-radius: 0px;
    border-radius: 9px;
    overflow: hidden;
	box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px; 
   
}
.product-custom-detail img{
	background-size: contain;
    object-fit: cover;
}
.limit-text-2 {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    line-clamp: 2;
    -webkit-box-orient: vertical;
    list-style: none !important;
}
.modal-search{
	position: absolute;
	z-index: 100;
	width: 100%;
	background-color: rgb(255, 255, 255);
	padding: 10px 10px;
	display: none ;
}
.modal-search.active{
	position: absolute;
	z-index: 100;
	width: 100%;
	background-color: rgb(255, 255, 255);
	padding: 10px 10px;
	display: flex;
}
.triangle-up.active{
display: block;
}
.triangle-up {
    position: absolute;
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 15px solid #fff;
    top: 30px;
	display: none;
}
.cus-box{
	position: relative !important;
	width: 575px  !important;
	height: 579px  !important;
}
.cus-new{
	position: relative !important;
}
.cus-new::before{
	content: '';
	position: absolute;
	width: 100%;
	height: 20%;
	bottom: -50px;
	background-color: rgb(0 0 0 / 47%);
}
.cus-new-title{
	position: absolute;

	color: white;
	padding: 10px;
	bottom:10%;
	width: 100%;
	word-wrap: break-word;
}
.title-cus{
	position: absolute;
	color: white;
	padding: 10px;
	bottom:10%;
	width: 100%;
	word-wrap: break-word;

}
.cus-box::before{
	content: '';
	position: absolute;
	width: 100%;
	height: 20%;
	bottom: 0px;
	background-color: rgb(0 0 0 / 47%);
}
/* .swiper-slide img{
	animation: kenburns 20s infinite;
} */
/* @keyframes kenburns {
	0% {
	  opacity: 0;
	}
  
	5% {
	  opacity: 1;
	}
  
	95% {
	  transform: scale3d(1, 1.1, 1.1) translate3d(-10px, -12px, 0px);
	  animation-timing-function: ease-in;
	  opacity: 1;
	}
  
	100% {
	  transform: scale3d(1, 1, 1) translate3d(-10px, -10px, 0px);
	  opacity: 0;
	}
  } */
@media only screen and (max-width: 768px) {
	section.elementor-section.elementor-top-section.elementor-element.elementor-element-17ade86b.elementor-section-boxed.elementor-section-height-default.elementor-section-height-default {
		padding-top: 0px !important;
	}
	.mySwiperbanner {
		padding-top: 0px !important;
		padding-bottom: 0px !important;
		height: 300px !important;
	}
	.banner-cus{
		height:200px !important;	
	}
	.img-cus img{

		height: auto !important;
		object-fit: cover;
		}
}
	
